<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Angular - ng-click</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
	</head>
	
	<body>
		<style>
			*{
				box-sizing: border-box;
			}
			
			body{
				font: 16px/1.5 sans-serif;
				color: #222;
				margin: 5em;
			}
			
			.first-true{
				background-color: red;
			}
		</style>
		
		<div>
			<input type="search" ng-model="search" />
		</div>
		
		<div ng-controller="List">
			<ul>
				<li ng-repeat="person in people | filter:search">
					{{person.name}} : {{person.age}}
					<button ng-click="remove($index)" class="first-{{$first}}">X</button>
					<span ng-show="$first">First!</span>
					<span ng-show="$last">Last!</span>
					<span ng-show="$middle">Middle!</span>
				</li>
			</ul>
			
			<span>There are {{people.length}} in the list</span>
			
			<div>
				<label>Name:</label><input ng-model="new_name" />
				<br>
				<label>Age:</label><input type="number" ng-model="new_age">
				<br>
				<button ng-click="add()">Add</button>
			</div>
		</div>
		
		<script>
			var List = function($scope){
				$scope.people = [
					{name: 'Tom', age: 20},
					{name: 'Bogdan', age: 34},
					{name: 'Damian', age: 40},
					{name: 'David', age: 22},
					{name: 'Peter', age: 36}
				];
			
				$scope.add = function(){
					$scope.people.push({
						name: $scope.new_name,
						age: $scope.new_age
					});
					$scope.new_name = "";
					$scope.new_age = "";
				};
				
				$scope.remove = function(index){
					$scope.people.splice(index,1);
				}
			};
		</script>
		
	</body>
</html>