<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Angular - ng-options</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
	</head>
	
	<body>
		<style>
			*{ box-sizing: border-box; }
			body{ font: 16px/1.5 sans-serif; color: #222; margin: 5em;}
			select {width: 40%;}
		</style>
		
		<div ng-controller="Contacts">
			<div>
				<input type="search" ng-model="search"/>
			</div>
			<select ng-model="selected_person" 
			        ng-options="person.name for person in people | filter: search">
				<option value="">Choose a person:</option>
			</select>
			{{selected_person.name}}
			
			<div>
				<label>Name:</label><input ng-model="selected_person.name"/ >
				<br>
				<label>Number:</label><input ng-model="selected_person.number"/ >
			</div>
			
		</div>		
		
		<script>
			var Contacts = function($scope){
				$scope.people = [
					{name:'Blade', number:'123456'},
					{name:'Dracula', number:'234567'},
					{name:'Ugly Mouth', number:'345678'}
				];
			
			};
		</script>
		
	</body>
</html>