<!doctype html>
<html ng-app>
<head>
	<meta name="author" content="Alex Tenche">
  	<title>Angular - Controllers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
</head>
<body>

	<div ng-controller="Ctrl">
		<input ng-model="name">
		<h1>{{name}}</h1>
		<h1>{{age}}</h1>
    </div>

    <div ng-controller="AnotherCtrl">
		<input ng-model="name">
		<h1>{{name}}</h1>
		<h1>{{age * 2}}</h1>
    </div>

    <script type="text/javascript">
    	var Ctrl = function ($scope){
    		$scope.name = "Alex";
    		$scope.age = 36;
    	};
    	var AnotherCtrl = function ($scope){
    		$scope.name = "Alexone";
    		$scope.age = 12;
    		$scope.$watch('name', function(){
    			console.log($scope.name);
    		});
    	};
    </script>
</body>
</html>