<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="author" content="Alex Tenche">
	<title>Angular - ng-show/ng-hide</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
	<style>
		*{
			box-sizing: border-box;
		}
		body{
			font: 16px/1.5 sans-serif;
			color: #222;
			margin: 5em;
		}
	</style>
</head>
	
<body>
	
	<div>
		<label>Name</label><input type="text" ng-model="name"/>
	</div>

	<br>
		
	<div>
		<input type="checkbox" ng-model="show"/><label>Show ?</label>
	</div>
		
	<br>
		
	<div>
		<input type="checkbox" ng-model="hide"/><label>Hide ?</label>
	</div>

	<br>

	<div ng-show="show">
		Hello, {{name || "world"}}!
	</div>

	<div ng-hide="hide">
		Hello, {{name || "world"}}!
	</div>
		
</body>
</html>