<!doctype html>
<html ng-app>
	<title>Angular - Controllers</title>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
	</head>
	
	<body>
	
		<div ng-controller="Ctrl">
			<input ng-model="name" />
			<h1>{{name}}</h1>
			<h1>{{age}}</h1>
		</div>
		
		
		<div ng-controller="AnotherCtrl">
			<input ng-model="name" />
			<h1>{{name}}</h1>
			<h1>{{age}}</h1>
		</div>
		
		<script>
			var Ctrl = function($scope){
				$scope.name = "Tom";
				$scope.age = 20;
			};
			
			var AnotherCtrl = function($scope){
				$scope.name = "Tom";
				$scope.age = 20;
				$scope.$watch('name', function(){
					console.log($scope.name);
				});
			};
		</script>
	</body>
</html>